body {
    background: lightblue;
    width:300px;
    border: 15px solid cyan;
    padding: 50px;
    margin: 20px auto;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin: 5% auto;
    margin-top: 10% auto;
    font-family: Arial, Helvetica, sans-serif;
}