body {
    color: #fddde3;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    width:300px;
    padding: 50px;
    margin: 20px auto;
}

#popmenu {
    background-color: #067560;
    width: auto;
    padding: 50px;
    margin: 20px auto;
}

#status {
    position: relative;
    height: 5vh;
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
}

#about {
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body, html { overflow: hidden }
* { margin: 0; padding: 0; }

/* .static { background: red; }
.bg1::after { background: url("https://picsum.photos/900/700") }
.bg2::after { background: url("https://picsum.photos/800/600") } */