body {
    color: #fddde3;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    padding: 0px;
    margin: 0px auto;
}

#comp {

}
#popmenu {
    background-color: #067560;
    width: 100% auto;
    padding: 25px;
    margin: 0px auto;
}

#status {
    position: relative;
    height: 5vh;
    padding-left: 10px;
    margin: 0px auto;
    display: flex;
    color: blue;
    align-items: center;
    justify-content: center;
}

#about {
    position: relative;
    height: 10vh;
    padding-left: 10px;
    display: ;
    align-items: center;
    justify-content: center;
}

.sides {

}

.cent { align-items: center; }
.img1 { float: left; }
.img2 { float: right; }


/* .static { background: red; }
.bg1::after { background: url("https://picsum.photos/900/700") }
.bg2::after { background: url("https://picsum.photos/800/600") } */